<!DOCTYPE html>
<html>
  <head>
    <title>MyRubyApp1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <li><%= link_to "Hello", greeter_hello_path %></li>
      <li><%= link_to "Goodbye", greeter_goodbye_path %></li>
      <li><%= link_to "Countries", countries_index_path %></li>
    </nav>
    <%= yield %>
  </body>
</html>
